@import "tailwindcss";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #121212 !important;
}

body {
	background-color: #121212 !important;
	color: #e0e0e0;
	font-weight: 400;
	font-family: "SUSE Mono", sans-serif;
}

.container {
	background-color: #1e1e1e;
	border-radius: 10px;
	padding: 2rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3 {
	color: #ffffff;
}

a {
	color: #00bcd4;
	text-decoration: none;
}

a:hover {
	color: #26c6da;
}

button {
	padding: 10px 14px;
	border: 1px solid white;
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	background-color: #1e1e1e;
}

.tag {
	background-color: #ffc107;
	color: #212121;
	padding: 0.2em 0.5em;
	border-radius: 5px;
	font-size: 0.9em;
}
